@model GameInventory.RecentGame

<tr>
    <td class="col-md-2">@Model.Title</td>
    <td class="col-md-2">@Model.PlatformId</td>
    <td class="col-md-1">@Model.RegionId</td>
    <td class="col-md-1">@Model.OwnerId</td>
</tr>
