<div class="jumbotron">
    <h2>PRGE Tracker</h2>
    <p class="lead">Games to look out for...</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">asp dawg</a></p>*@
</div>

<div class="row">
    <h3>Games</h3>
</div>