<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GAMESTORE-20160820125045.mdf;Initial Catalog=aspnet-GAMESTORE-20160820125045;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=ALPHA\GAMESTORE;Initial Catalog=Inventory_Test;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="GameInventoryDBEntities" connectionString="metadata=res://*/GameInventoryDBModel.csdl|res://*/GameInventoryDBModel.ssdl|res://*/GameInventoryDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALPHA\GAMESTORE;initial catalog=Inventory_Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>